<template>
  <div class="q-pa-md" style="min-width: 80%; height: 80%">
    <!-- Component Contact Q-Tab -->
      <div class="col-sm-12" >
        <q-card>
          <q-tabs
            v-model="tab"
            class="bg-deep-purple-14 text-white"
            align="justify"
            inline-label
          >
            <q-tab icon="mail" name="recieve" label="Reçu" />
            <q-tab icon="create" name="message" label="Nouveaux" />
          </q-tabs>
          <q-separator />
          <q-tab-panels v-model="tab" animated class="bg-deep-purple-1 text-center">
            <!-- Component Admin message recieve -->
            <q-tab-panel name="recieve" class="bg-deep-purple-1">

              <messageRecieve></messageRecieve>

            </q-tab-panel>
            <!-- /Component Admin message recieve -->

            <!-- Component Contact Message -->
            <q-tab-panel name="message" class="bg-deep-purple-1">

              <!-- <messageCreate></messageCreate> -->

            </q-tab-panel>
            <!-- Component Contact Message -->

          </q-tab-panels>
        </q-card>
      </div>
      <!-- / Component Contact Q-Tab -->
  </div>
</template>

<script>
import messageRecieve from './messageRecieve'
// import messageCreate from './messageCreate'

export default {
  data () {
    return {
      name: '',
      email: '',
      message: '',
      tab: 'message'
    }
  },
  component: {
    messageRecieve
  }
}
</script>
