<template>
  <div class="q-pa-md q-gutter-md">
    <q-item-label header>Message Reçu</q-item-label>
    <q-list bordered class="rounded-borders" :key="mpx" v-for='(mp, mpx) in dbMessage' style="max-width: 100%">
      <q-item>
        <q-item-section avatar top>
          <q-icon name="mail" color="black" size="34px" />
        </q-item-section>
        <q-item-section top class="col-2 gt-sm">
          <q-item-label class="q-mt-sm">{{mp._id}}</q-item-label>
        </q-item-section>
        <q-item-section top>
          <q-item-label lines="1">
            <span class="text-weight-medium">[Sujet]</span>
            <span class="text-grey-8"> - {{ mp.author }}</span>
          </q-item-label>
          <q-item-label caption lines="1">
            {{ mp.message }}
          </q-item-label>
          <q-item-label lines="1" class="q-mt-xs text-body2 text-weight-bold text-primary text-uppercase">
            <span class="cursor-pointer">Ouvrir</span>
          </q-item-label>
        </q-item-section>
        <q-item-section top side>
          <div class="text-grey-8 q-gutter-xs">
            <q-btn class="gt-xs" size="12px" @click="deleteMessage(mp._id)"  flat dense round icon="delete" />
            <q-btn class="gt-xs" size="12px" flat dense round icon="done" />
            <q-btn size="12px" flat dense round icon="more_vert" />
          </div>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      id: this._id,
      dbMessage: {}
    }
  },
  methods: {
    getMessage () {
      this.$axios
        .get('/mp')
        .then(res => (this.dbMessage = res.data))
    },
    deleteMessage (id) {
      axios
        .delete(`/mp/${id}`)
        .then(_ => {
          this.getMessage()
        })
    }
  },
  mounted () {
    this.getMessage()
  }
}
</script>
