<template>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 q-pa-md">
        <q-img src="~assets/code.jpg" class="rounded-borders" style="height: 100%; width: 100%">
          <div class="absolute-bottom rounded-borders text-subtitle1 text-center">
            <p class="text-orange-14">Website</p>
          </div>
        </q-img>
        <q-list bordered class="rounded-borders">
          <q-expansion-item
            class="text-deep-purple-10 text-center bg-orange-2"
            expand-icon-toggle
            expand-separator
            icon="apps"
            label="En savoir +"
            caption="Website"
          >
            <q-card class="bg-orange-2">
              <q-card-section>
                {{lorem}}
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </div>
      <div class="col-12 col-sm-6 col-md-3 q-pa-md">
        <q-img src="~assets/blockchain.jpg" class="rounded-borders" style="height: 100%; width: 100%">
          <div class="absolute-bottom rounded-borders text-subtitle1 text-center">
            <p class="text-orange-14">Projet</p>
          </div>
        </q-img>
        <q-list bordered class="rounded-borders">
          <q-expansion-item
            class="text-deep-purple-10 text-center bg-orange-2"
            expand-icon-toggle
            expand-separator
            icon="apps"
            label="En savoir +"
            caption="Projet"
          >
            <q-card transition-show="rotate"
                      transition-hide="rotate" class="bg-orange-2">
              <q-card-section>
                {{lorem}}
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </div>
      <div class="col-12 col-sm-6 col-md-3 q-pa-md">
        <q-img src="~assets/work.jpg" class="rounded-borders" style="height: 100%; width: 100%">
          <div class="absolute-bottom text-subtitle1 text-center">
            <p class="text-orange-14">Pro</p>
          </div>
        </q-img>
        <q-list bordered class="rounded-borders">
          <q-expansion-item
            class="text-deep-purple-10 text-center bg-orange-2"
            expand-icon-toggle
            expand-separator
            icon="apps"
            label="En savoir +"
            caption="Pro"
          >
            <q-card class="bg-orange-2">
              <q-card-section>
                {{lorem}}
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </div>
      <div class="col-12 col-sm-6 col-md-3 q-pa-md">
        <q-img src="~assets/travel.jpg" class="rounded-borders" style="height: 100%; width: 100%">
          <div class="absolute-bottom text-subtitle1 text-center">
            <p class="text-orange-14">Perso</p>
          </div>
        </q-img>
        <q-list bordered class="rounded-borders bg-orange-2">
          <q-expansion-item
            class="text-deep-purple-10 text-center"
            expand-icon-toggle
            expand-separator
            icon="apps"
            label="En savoir +"
            caption="Perso"
          >
            <q-card class="bg-orange-2">
              <q-card-section>
                {{lorem}}
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'panelActu',
  data () {
    return {
      test: '',
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste eveniet doloribus ullam aliquid.'
    }
  }
}
</script>
