<template>
  <div class="q-pa-md">
    <p class="text-weight-bold text-lime-14">/actu</p>
    <panelActu></panelActu>
  </div>
</template>

<script>
import panelActu from '../components/actu/panelActu'

export default {
  name: 'panelActuComponent',
  data () {
    return {
    }
  },
  components: {
    panelActu
  }
}
</script>
