<template>
  <q-page class="q-pa-md">
    <p class="text-weight-bold text-lime-14">/blog</p>
    <div class='q-pa-md row search-wrapper'>

      <!-- Component modalCreateArticle -->
      <modalCreateArticle v-if='loggedIn === true'></modalCreateArticle>
      <!-- / Component modalCreateArticle -->

      <q-input v-model='search' rounded standout color='orange' width='100%'>
        <template v-slot:before>
          <q-icon color="orange-14" name="search" />
        </template>
      </q-input>
    </div>

    <!-- Components CardBlog -->
    <cardBlog></cardBlog>
    <!-- / Components CardBlog -->

  </q-page>
</template>

<script>
import cardBlog from '../components/blog/cardBlog'
import modalCreateArticle from '../components/blog/modalCreateArticle'
import { mapState } from 'vuex'

export default {
  name: 'PageBlog',
  data () {
    return {
      search: ''
    }
  },
  components: {
    cardBlog, modalCreateArticle
  },
  computed: {
    ...mapState('auth', ['loggedIn'])
  }
}
</script>
