<template>
  <q-page class="q-pa-md">
      <p class="text-weight-bold text-lime-14">/contact</p>

      <!-- Component Contact Profile Header -->
      <headerProfile></headerProfile>
      <!-- /Component Contact Profile Header -->

      <!-- Component Contact Q-Tab -->
      <div class="col-sm-12" >
        <q-card>
          <q-tabs
            v-model="tab"
            class="bg-deep-purple-14 text-white"
            align="justify"
            narrow-indicator
          >
            <q-tab name="presentation" label="Présentation" />
            <q-tab name="message" label="Message" />
            <q-tab name="reseau" label="Social" />
          </q-tabs>
          <q-separator />
          <q-tab-panels v-model="tab" animated class="bg-deep-purple-1 text-center">
            <!-- Component Contact Profile Presentation -->
            <q-tab-panel name="presentation" class="bg-deep-purple-1">

              <presentation></presentation>

            </q-tab-panel>
            <!-- /Component Contact Profile Presentation -->

            <!-- Component Contact Message -->
            <q-tab-panel name="message" class="bg-deep-purple-1">

              <message></message>

            </q-tab-panel>
            <!-- Component Contact Message -->

            <!-- Component Contact Reseau -->
            <q-tab-panel name="reseau" class="bg-deep-purple-1">

              <reseau></reseau>

            </q-tab-panel>
            <!-- /Component Contact Reseau -->
          </q-tab-panels>
        </q-card>
      </div>
      <!-- / Component Contact Q-Tab -->

  </q-page>
</template>

<script>
import headerProfile from '../components/contact/headerProfile'
import presentation from '../components/contact/presentation'
import message from '../components/contact/message'
import reseau from '../components/contact/reseau'

export default {
  name: 'PageContact',
  data () {
    return {
      name: '',
      email: '',
      message: '',
      tab: 'message'
    }
  },
  components: {
    headerProfile, presentation, message, reseau
  }
}
</script>
