<template>
  <q-page class="q-pa-md">
      <p class="text-weight-bold text-lime-14">/contact</p>

      <!-- Component Contact Profile Header -->
      <headerProfile></headerProfile>
      <!-- /Component Contact Profile Header -->

      <!-- Component Contact Q-Tab -->
      <div class="col-sm-12" >
        <q-card>
          <q-tabs
            v-model="tab"
            class="bg-deep-purple-14 text-white"
            align="justify"
            narrow-indicator
          >
            <q-tab name="login" label="Se Connecter" />
            <q-tab name="register" label="Créé un Compte" />

          </q-tabs>
          <q-separator />
          <q-tab-panels v-model="tab" animated class="bg-deep-purple-1 text-center">
            <!-- Component Contact Profile Presentation -->
            <q-tab-panel name="login" class="bg-deep-purple-1">

              <login></login>

            </q-tab-panel>
            <!-- /Component Contact Profile Presentation -->

            <!-- Component Contact Message -->
            <q-tab-panel name="register" class="bg-deep-purple-1">

              <register></register>

            </q-tab-panel>
            <!-- Component Contact Message -->

          </q-tab-panels>
        </q-card>
      </div>
      <!-- / Component Contact Q-Tab -->

  </q-page>
</template>

<script>
import headerProfile from '../components/contact/headerProfile'
import login from '../components/auth/login'
import register from '../components/auth/register'

export default {
  name: 'PageContact',
  data () {
    return {
      name: '',
      email: '',
      message: '',
      tab: 'login'
    }
  },
  components: {
    headerProfile, login, register
  }
}
</script>
