<template>
    <q-page class="q-pa-md">
      <p class="text-weight-bold text-lime-14">/projet</p>

      <listPro></listPro>

      <listPerso></listPerso>

      <listYoutube></listYoutube>

    </q-page>
</template>

<script>
import listPro from '../components/projet/listPro'
import listPerso from '../components/projet/listPerso'
import listYoutube from '../components/projet/listYoutube'

export default {
  name: 'PageProjet',
  data () {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    }
  },
  components: {
    listPro,
    listPerso,
    listYoutube
  }
}
</script>
