<template>
<!-- Component Contact Profile Header -->
      <div class="col-sm-12">
        <q-item class="text-center img-profile" style="height: 150px">
          <div class="absolute-top bg-transparent">
              <q-item>
                <q-avatar class="absolute-center" size="100px">
                  <img src="~assets/tux.jpg">
                </q-avatar>
              </q-item>
            <div class="text-weight-bold text-lime-14 q-pt-xl ">Hsuk Rd</div>
            <div class="text-lime-14">@HsukRd</div>
          </div>
        </q-item>
      </div>
      <!-- /Component Contact Profile Header -->
</template>

<script>
export default {
  name: 'headerProfileComponents',
  data () {
    return {
    }
  }
}
</script>
