<template>
    <!-- Component Contact Message -->
    <div class="col-sm-12">
      <div class="text-h6">Envoyer un message</div>
      <q-form
        @submit="sendMessage"
        @reset="onReset"
        class="row"
      >
        <div class="col-12 col-sm-6 q-pa-md">
          <q-input
            standout
            rounded
            v-model="author"
            type="text"
            prefix="Name:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="person"/>
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-6 q-pa-md">
          <q-input
            standout
            rounded
            v-model="email"
            type="email"
            prefix="Email:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="mail" />
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-12 q-pa-md">
          <q-input
            v-model="message"
            standout
            rounded
            type="textarea"
          />
        </div>
        <div class="col-12 col-sm-12 q-pa-md text-center">
          <q-toggle
            v-model="accept"
            label="I accept the license and terms"
          />
          <q-btn
            label="Reset"
            type="reset"
            color="secondary"
            rounded
            glossy
            unelevated
            class="q-ml-sm text-black"
          />
          <q-btn
            color="black"
            text-color="orange-14"
            type="submit"
            rounded
            glossy
            unelevated
            icon="mail"
            label="Envoyer Message"
          />
        </div>
      </q-form>
    </div>
    <!-- Component Contact Message -->
</template>

<script>
import axios from 'axios'

export default {
  name: 'prezComponents',
  data () {
    return {
      author: '',
      email: '',
      message: '',
      accept: false
    }
  },
  methods: {
    sendMessage () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'deep-orange-10',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      } else {
        axios
          .post('/mp', {
            author: this.author,
            email: this.email,
            message: this.message
          })
          .then((response) => {
            this.$q.notify({
              color: 'primary',
              textColor: 'white',
              icon: 'cloud_done',
              message: 'Submitted'
            })
          })
          .catch((error) => {
            console.log(error)
          })
      }
    },
    onReset () {
      this.title = null
      this.author = null
      this.message = null
      this.accept = false
    }
  }
}
</script>
