<template>
    <!-- Component Contact Profile Presentation -->
    <div class="col-sm-12">
      <q-card class="my-card">
        <q-card-section>
          <q-item class="img-profile" style="height: 150px">
            <div class="absolute-center bg-transparent">
              <div class="text-h4 text-deep-purple-14 ">Développeur Web & Web-Mobile</div>
              <div class="text-h5 text-deep-purple-14 ">Formateur Dev (Bac +2)</div>
            </div>
          </q-item>
        </q-card-section>

        <q-tabs v-model="tab" class="text-orange-14 bg-dark ">
          <q-tab label="Qui suis-je ?" name="about" />
          <q-tab label="Profession" name="profession" />
        </q-tabs>

        <q-separator />

        <q-tab-panels rounded v-model="tab" animated>
          <q-tab-panel class='bg-dark text-orange-14 q-pa-md'
            name="about"
          >
          <q-item class="text-center img-profile" style="height: 150px">
            <div class="col-md-10 q-mx-auto">
              <div class="text-h2"> Title </div>
              <div>{{ lorem }}</div>
            </div>
          </q-item>
          </q-tab-panel>

          <q-tab-panel class='bg-dark text-orange-14 q-pa-md'
            name="profession">
            <div>
              <div class="text-h3 text-orange-14 ">- Développeur Web & Web-Mobile -</div>
              <div class="text-h4 text-orange-14 ">- Formateur Dev (Bac +2) -</div>
              <div class="text-h5 text-orange-14 ">- Front & Back-end -</div>
              <div class="text-h5 text-orange-14 ">- Api & Dev'Ops -</div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
    <!-- /Component Contact Profile Presentation -->
</template>

<script>
export default {
  name: 'prezComponents',
  data () {
    return {
      tab: 'about',
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste eveniet doloribus ullam aliquid.'

    }
  }
}
</script>
