<template>
    <!-- Component Contact Reseau -->
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="text-h6">Réseaux Sociaux</div>
        <div class="row">
          <div class="col-12 col-sm-4 q-pa-md">
            <q-card class="my-card bg-dark" flat bordered>
              <q-card-section horizontal>
                <q-avatar class="absolute-center" size="92px">
                  <q-img src="~assets/protonmail.png">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Protonmail</strong>
                    </q-tooltip>
                  </q-img>
                </q-avatar>
                <q-card-actions vertical class="justify-around q-px-md">
                  <q-btn flat round color="red" icon="mail">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>email:</strong> drkushikush@protonmail.com
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="primary" icon="share">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Partagez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="orange-14" icon="person">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Visitez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                </q-card-actions>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 col-sm-4 q-pa-md">
            <q-card class="my-card bg-dark" flat bordered>
              <q-card-section horizontal>
                <q-avatar class="absolute-center" size="92px">
                  <q-img src="~assets/youtube.png">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Youtube</strong>
                    </q-tooltip>
                  </q-img>
                </q-avatar>
                <q-card-actions vertical class="justify-around q-px-md">
                  <q-btn flat round color="red" icon="thumb_up_alt">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Abonnez-vous</strong> à la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="primary" icon="share">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Partagez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="orange-14" icon="person">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Visitez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                </q-card-actions>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 col-sm-4 q-pa-md">
            <q-card class="my-card bg-dark" flat bordered>
              <q-card-section horizontal>
                <q-avatar class="absolute-center" size="92px">
                  <q-img src="~assets/twitter.png">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Twitter</strong>
                    </q-tooltip>
                  </q-img>
                </q-avatar>
                <q-card-actions vertical class="justify-around q-px-md">
                  <q-btn flat round color="red" icon="thumb_up_alt">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Abonnez-vous</strong> à la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="primary" icon="share">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Partagez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="orange-14" icon="person">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Visitez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                </q-card-actions>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-12 col-sm-4 q-pa-md">
            <q-card class="my-card bg-dark" flat bordered>
              <q-card-section horizontal>
                <q-avatar class="absolute-center" size="92px">
                  <q-img src="~assets/telegram.png">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Telegram</strong>
                    </q-tooltip>
                  </q-img>
                </q-avatar>
                <q-card-actions vertical class="justify-around q-px-md">
                  <q-btn flat round color="red" icon="thumb_up_alt">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Abonnez-vous</strong> à la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="primary" icon="share">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Partagez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="orange-14" icon="person">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Visitez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                </q-card-actions>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 col-sm-4 q-pa-md">
            <q-card class="my-card bg-dark" flat bordered>
              <q-card-section horizontal>
                <q-avatar class="absolute-center" size="92px">
                  <q-img src="~assets/discord.png">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Discord</strong>
                    </q-tooltip>
                  </q-img>
                </q-avatar>
                <q-card-actions vertical class="justify-around q-px-md">
                  <q-btn flat round color="red" icon="thumb_up_alt">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Abonnez-vous</strong> à la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="primary" icon="share">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Partagez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="orange-14" icon="person">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Visitez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                </q-card-actions>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 col-sm-4 q-pa-md">
            <q-card class="my-card bg-dark" flat bordered>
              <q-card-section horizontal>
                <q-avatar class="absolute-center" size="92px">
                  <q-img src="~assets/wire.png">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Wire</strong>
                    </q-tooltip>
                  </q-img>
                </q-avatar>
                <q-card-actions vertical class="justify-around q-px-md">
                  <q-btn flat round color="red" icon="thumb_up_alt">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Abonnez-vous</strong> à la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="primary" icon="share">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Partagez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat round color="orange-14" icon="person">
                    <q-tooltip
                      content-class="bg-deep-purple-14"
                      transition-show="rotate"
                      transition-hide="rotate"
                      anchor="center right"
                      self="center left"
                      :offset="[10, 10]"
                    >
                      <strong>Visitez</strong> la chaine
                    </q-tooltip>
                  </q-btn>
                </q-card-actions>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
    </div>
    <!-- /Component Contact Reseau -->
</template>

<script>
export default {
  name: 'prezComponents',
  data () {
    return {}
  }
}
</script>
