<template>
    <!-- Component Projet Personel -->
    <div class="col-sm-12">
      <p class="text-weight-bold text-lime-14">
        <u>Personnel</u>
      </p>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 q-pa-md">
          <q-card class="my-card">
            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="~assets/tux.jpg" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>Title</q-item-label>
                <q-item-label caption>Subhead</q-item-label>
              </q-item-section>
            </q-item>
            <img src="~assets/code.jpg" />
          </q-card>
        </div>
        <div class="col-12 col-sm-6 col-md-3 q-pa-md">
          <q-card class="my-card">
            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="~assets/tux.jpg" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>Title</q-item-label>
                <q-item-label caption>Subhead</q-item-label>
              </q-item-section>
            </q-item>
            <img src="~assets/code.jpg" />
          </q-card>
        </div>
        <div class="col-12 col-sm-6 col-md-3 q-pa-md">
          <q-card class="my-card">
            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="~assets/tux.jpg" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>Title</q-item-label>
                <q-item-label caption>Subhead</q-item-label>
              </q-item-section>
            </q-item>
            <img src="~assets/code.jpg" />
          </q-card>
        </div>
        <div class="col-12 col-sm-6 col-md-3 q-pa-md">
          <q-card class="my-card">
            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="~assets/tux.jpg" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>Title</q-item-label>
                <q-item-label caption>Subhead</q-item-label>
              </q-item-section>
            </q-item>
            <img src="~assets/code.jpg" />
          </q-card>
        </div>
      </div>
    </div>
  <!-- / Component Projet Personel -->
</template>

<script>
export default {
  name: 'listPersoComponents',
  data () {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    }
  }
}
</script>
