<template>
  <!-- Component Projet Professionel -->
  <div class="col-sm-12">
    <p class="text-weight-bold text-lime-14"><u>Professionel</u></p>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 q-pa-md">
        <q-card class="my-card">
          <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" basic>
            <div class="absolute-bottom text-h6">Title</div>
          </q-img>
          <q-card-section>{{ lorem }}</q-card-section>
        </q-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 q-pa-md">
        <q-card class="my-card">
          <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" basic>
            <div class="absolute-bottom text-h6">Title</div>
          </q-img>
          <q-card-section>{{ lorem }}</q-card-section>
        </q-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 q-pa-md">
        <q-card class="my-card">
          <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" basic>
            <div class="absolute-bottom text-h6">Title</div>
          </q-img>
          <q-card-section>{{ lorem }}</q-card-section>
       </q-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 q-pa-md">
        <q-card class="my-card">
          <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" basic>
            <div class="absolute-bottom text-h6">Title</div>
          </q-img>
          <q-card-section>{{ lorem }}</q-card-section>
        </q-card>
      </div>
    </div>
  </div>
  <!-- / Component Projet Professionel -->
</template>

<script>
export default {
  name: 'listProComponents',
  data () {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    }
  }
}
</script>
