<template>
<!-- Component Projet Youtube -->
      <div class="col-sm-12">
        <p class="text-weight-bold text-lime-14"><u>Youtube</u></p>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3 q-pa-md">
            <q-card class="my-card">
              <q-video src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0" />
              <q-card-section>
                <div class="text-h6">Our Changing Planet</div>
                <div class="text-subtitle2">by John Doe</div>
              </q-card-section>
              <q-card-section class="q-pt-none">
                {{ lorem }}
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 col-sm-6 col-md-3 q-pa-md">
            <q-card class="my-card">
              <q-video src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0" />
              <q-card-section>
                <div class="text-h6">Our Changing Planet</div>
                <div class="text-subtitle2">by John Doe</div>
              </q-card-section>
              <q-card-section class="q-pt-none">
                {{ lorem }}
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 col-sm-6 col-md-3 q-pa-md">
            <q-card class="my-card">
              <q-video src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0" />
              <q-card-section>
                <div class="text-h6">Our Changing Planet</div>
                <div class="text-subtitle2">by John Doe</div>
              </q-card-section>
              <q-card-section class="q-pt-none">
                {{ lorem }}
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 col-sm-6 col-md-3 q-pa-md">
            <q-card class="my-card">
              <q-video src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0" />
              <q-card-section>
                <div class="text-h6">Our Changing Planet</div>
                <div class="text-subtitle2">by John Doe</div>
              </q-card-section>
              <q-card-section class="q-pt-none">
                {{ lorem }}
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
      <!-- / Component Projet Youtube -->
</template>

<script>
export default {
  name: 'listYoutubeComponents',
  data () {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    }
  }
}
</script>
