<template>

  <!-- Components Card Blog -->
  <div class="q-pa-md row items-start q-gutter-md">
    <!-- Card Blog -->
    <q-card class='bg-opacity02 my-card' :key="articlex" v-for='(article, articlex) in this.dbArticle'>
      <q-item>
        <q-item-section avatar>
          <q-avatar>
            <img src="~assets/tux.jpg">
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{article.title}}</q-item-label>
          <q-item-label caption>{{article.author}}</q-item-label>
        </q-item-section>
      </q-item>
      <img src="~assets/quasar-logo-full.svg">
      <q-btn class="gt-xs" size="12px" @click="deleteArticle(article._id)"  flat dense round icon="delete" />
      <q-btn class="gt-xs" size="12px" @click='showModalEditArticle(article)'  flat dense round icon="create" />
    </q-card>
    <!-- /Card Blog -->
    <!-- Modal CardID -->
    <q-dialog
      v-model='modalEditArticle'
    >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Édition de: {{ formArticle._id }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <p>Title: {{ formArticle.title }}</p>
          <p>Author: {{ formArticle.author }}</p>
          <p>Message: {{ formArticle.message }}</p>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="OK" v-close-popup />
        </q-card-actions>
      </q-card>
      <q-card>
        <q-card-section class="q-pt-none">
          <!-- Formulaire Edit Article -->
          <q-form
            @submit="formEditArticleData(formArticle._id)"
            @reset="onReset"
            class="row"
          >
            <div class="col-12 col-sm-6 q-pa-md">
              <q-input
                standout
                rounded
                v-model="formArticle.title"
                type="text"
                prefix="Titre:"
              >
                <template v-slot:prepend>
                  <q-icon class="text-orange-14" name="person"/>
                </template>
              </q-input>
            </div>
            <div class="col-12 col-sm-6 q-pa-md">
              <q-input
                standout
                rounded
                v-model="formArticle.author"
                type="text"
                prefix="Autheur:"
              >
                <template v-slot:prepend>
                  <q-icon class="text-orange-14" name="mail" />
                </template>
              </q-input>
            </div>
            <div class="col-12 col-sm-12 q-pa-md">
              <q-input
                v-model="formArticle.message"
                standout
                rounded
                type="textarea"
              />
            </div>
            <div class="col-12 col-sm-12 q-pa-md text-center">
              <q-toggle
                v-model="accept"
                label="I accept the license and terms"
              />
              <q-btn
                label="Reset"
                type="reset"
                color="secondary"
                rounded
                glossy
                unelevated
                class="q-ml-sm text-black"
              />
              <q-btn
                color="black"
                text-color="orange-14"
                type="submit"
                rounded
                glossy
                unelevated
                icon="mail"
                label="Envoyer Message"
              />
            </div>
          </q-form>
          <!-- / Formulaire Edit Article -->
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- / Modal CardID -->
  </div>
  <!-- /Components Card Blog -->
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'panelActu',
  data () {
    return {
      state: {
        dbArticle: []
      },
      formArticle: {
        title: '',
        author: '',
        message: ''
      },
      accept: false,
      id: this._id,
      item: 'coucou',
      expanded: false,
      modalCrypto: false,
      modalEditArticle: false,
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste eveniet doloribus ullam aliquid.'
    }
  },
  methods: {
    checkArticle () {
      this.getArticle()
      setTimeout(this.checkArticle, 5000)
    },
    formEditArticleData (id) {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'deep-orange-10',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      } else {
        this.editOneArticle(this.formArticle)
        this.$q.notify({
          color: 'primary',
          textColor: 'white',
          icon: 'create',
          message: 'Article Créé'
        })
      }
    },
    showModalEditArticle (article) {
      this.formArticle = article
      this.modalEditArticle = true
    },
    deleteArticle (id) {
      this.deleteOneArticle(id)
      this.getArticle()
    },
    onReset () {
      this.formArticle.title = null
      this.formArticle.author = null
      this.formArticle.message = null
      this.accept = false
    },
    ...mapActions('blog', ['editOneArticle', 'getArticle', 'deleteOneArticle'])
  },
  mounted () {
    this.checkArticle()
  },
  computed: {
    ...mapState('blog', ['dbArticle'])
  }
}
</script>
