<template>
  <div class="q-pa-md q-gutter-sm">

    <q-btn label="Create" icon="create" color="secondary" @click="medium = true" />

    <q-dialog
      v-model="medium"
    >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Create</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-form
        @submit="formArticleData"
        @reset="onReset"
        class="row"
      >
        <div class="col-12 col-sm-6 q-pa-md">
          <q-input
            standout
            rounded
            v-model="formArticle.title"
            type="text"
            prefix="Titre:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="person"/>
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-6 q-pa-md">
          <q-input
            standout
            rounded
            v-model="formArticle.author"
            type="text"
            prefix="Autheur:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="mail" />
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-12 q-pa-md">
          <q-input
            v-model="formArticle.message"
            standout
            rounded
            type="textarea"
          />
        </div>
        <div class="col-12 col-sm-12 q-pa-md text-center">
          <q-toggle
            v-model="accept"
            label="I accept the license and terms"
          />
          <q-btn
            label="Reset"
            type="reset"
            color="secondary"
            rounded
            glossy
            unelevated
            class="q-ml-sm text-black"
          />
          <q-btn
            color="black"
            text-color="orange-14"
            type="submit"
            rounded
            glossy
            unelevated
            icon="mail"
            label="Envoyer Message"
          />
        </div>
      </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      medium: false,
      accept: false,
      formArticle: {
        title: '',
        author: '',
        message: ''
      }
    }
  },
  methods: {
    formArticleData () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'deep-orange-10',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      } else {
        this.createArticle(this.formArticle)
        this.onReset()
        this.$q.notify({
          color: 'primary',
          textColor: 'white',
          icon: 'create',
          message: 'Article Créé'
        })
      }
    },
    onReset () {
      this.formArticle.title = null
      this.formArticle.author = null
      this.formArticle.message = null
      this.accept = false
    },
    ...mapActions('blog', ['createArticle'])
  }
}
</script>
