<template>
<div class="background">
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class='bg-deep-purple-14'>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />
        <q-toolbar-title>
          Hsuk Rd
        </q-toolbar-title>
        <div>Site Réalisé avec: Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
        v-model="leftDrawerOpen"
        show-if-above
        :width="200"
        :breakpoint="400"
      >
        <q-img class="absolute-top text-center img-profile" src="~assets/coucher-de-soleil.jpg" style="height: 150px">
          <div class="absolute-bottom bg-transparent">
              <q-item v-ripple to="/">
                <q-avatar class="absolute-center" size="56px">
                  <img src="~assets/tux.jpg">
                </q-avatar>
              </q-item>
            <div class="q-pa-xs text-weight-bold text-deep-purple-1">Hsuk Rd</div>
            <div class="text-deep-purple-1">@HsukRd</div>
          </div>
        </q-img>

        <q-scroll-area class="bg-deep-purple-10" style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">
          <q-list padding class="text-orange-14">

            <q-item clickable v-ripple to="/">
              <q-item-section avatar>
                <q-icon name="home" />
              </q-item-section>

              <q-item-section>
                Home
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple to="/actu">
              <q-item-section avatar>
                <q-icon name="inbox" />
              </q-item-section>

              <q-item-section>
                Actus
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple to="/projet">
              <q-item-section avatar>
                <q-icon name="star" />
              </q-item-section>

              <q-item-section>
                Projets
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple to="/blog">
              <q-item-section avatar>
                <q-icon name="import_contacts" />
              </q-item-section>

              <q-item-section>
                Blog
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple to="/contact">
              <q-item-section avatar>
                <q-icon name="drafts" />
              </q-item-section>

              <q-item-section>
                Contact
              </q-item-section>
            </q-item>

            <q-item v-if='loggedIn === false' clickable v-ripple to="/login">
              <q-item-section avatar>
                <q-icon name="person" color="pink" />
              </q-item-section>

              <q-item-section>
                Se Connecter
              </q-item-section>
            </q-item>

            <q-item v-if='loggedIn === true' clickable v-ripple @click='logout()'>
              <q-item-section avatar>
                <q-icon name="mail" color="blue"/>
              </q-item-section>

              <q-item-section>
                Logout
              </q-item-section>
            </q-item>

            <q-item v-if='adminIn === true' clickable v-ripple to='/admin'>
              <q-item-section avatar>
                <q-icon name="person" color="lime"/>
              </q-item-section>

              <q-item-section>
                Admin
              </q-item-section>
            </q-item>

          </q-list>
        </q-scroll-area>

      </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    logout () {
      this.logoutUser()
    },
    ...mapActions('auth', ['logoutUser'])
  },
  computed: {
    ...mapState('auth', ['loggedIn', 'adminIn', 'verifiedIn'])
  }
}
</script>

<style lang="scss">
.background {
  background: url('~assets/full-neon.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: center;
  width: 100%;
}
</style>
