<template>
  <q-page class="q-pa-md">
      <p class="text-weight-bold text-lime-14">/adminActu</p>
      <h2 class="text-h2">Admin Actu</h2>
  </q-page>
</template>

<script>
export default {
  name: 'adminActu',
  data () {
    return {
    }
  },
  components: {
  }
}
</script>
