<template>
  <q-page class="q-pa-md">
      <p class="text-weight-bold text-lime-14">/message</p>

      <!-- Component Contact Profile Header -->
      <headerProfile></headerProfile>
      <!-- /Component Contact Profile Header -->

      <!-- Component Contact Q-Tab -->
      <div class="col-sm-12" >
        <q-card>
          <q-tabs
            v-model="tab"
            class="bg-deep-purple-14 text-white"
            align="justify"
            inline-label
            narrow-indicator
          >
            <q-tab name="messageRecieve" icon="mail" label="Reçu" />
            <q-tab name="messageNew" icon="create" label="Écrire un message" />
          </q-tabs>
          <q-separator />
          <q-tab-panels v-model="tab" animated class="bg-deep-purple-1 text-center">
            <!-- Component Contact Profile messageRecieve -->
            <q-tab-panel name="messageRecieve" class="bg-deep-purple-1">

              <messageRecieve></messageRecieve>

            </q-tab-panel>
            <!-- /Component Contact Profile messageRecieve -->

            <!-- Component Contact Message -->
            <q-tab-panel name="messageNew" class="bg-deep-purple-1">

              <message></message>

            </q-tab-panel>
            <!-- Component Contact Message -->
          </q-tab-panels>
        </q-card>
      </div>
      <!-- / Component Contact Q-Tab -->

  </q-page>
</template>

<script>
import headerProfile from '../../components/contact/headerProfile'
import messageRecieve from '../../components/admin/messageRecieve'
import message from '../../components/contact/message'

export default {
  name: 'PageContact',
  data () {
    return {
      name: '',
      email: '',
      message: '',
      tab: 'messageRecieve'
    }
  },
  components: {
    headerProfile, messageRecieve, message
  }
}
</script>
