<template>
  <q-page class="q-pa-md">
      <p class="text-weight-bold text-lime-14">/adminProjet</p>
      <h2 class="text-h2">Admin Projet</h2>
  </q-page>
</template>

<script>

export default {
  name: 'adminProjet',
  data () {
    return {
    }
  },
  components: {
  }
}
</script>
