<template>
    <!-- Component Contact Message -->
    <div class="col-sm-12">
      <div class="text-h6">Se Connecter</div>
      <q-form
        @submit="login"
        @reset="onReset"
        class="row"
      >
        <div class="col-12 col-sm-12 q-pa-md">
          <q-input
            standout
            rounded
            v-model="formLogin.pseudo"
            type="text"
            prefix="Pseudo:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="person"/>
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-12 q-pa-md">
          <q-input
            standout
            rounded
            v-model="formLogin.email"
            type="email"
            prefix="Email:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="mail" />
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-12 q-pa-md">
          <q-input
            standout
            rounded
            v-model="formLogin.password"
            type="password"
            prefix="Mot de passe:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="fingerprint"/>
            </template>
          </q-input>
        </div>

        <div class="col-12 col-sm-12 q-pa-md text-center">
          <q-toggle
            v-model="accept"
            label="I accept the license and terms"
          />
          <q-btn
            label="Reset"
            type="reset"
            color="secondary"
            rounded
            glossy
            unelevated
            class="q-ml-sm text-black"
          />
          <q-btn
            color="black"
            text-color="orange-14"
            type="submit"
            rounded
            glossy
            unelevated
            icon="mail"
            label="Envoyer Message"
          />
        </div>
      </q-form>
    </div>
    <!-- Component Contact Message -->
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'login',
  data () {
    return {
      accept: false,
      formLogin: {
        pseudo: '',
        email: '',
        password: ''
      }
    }
  },
  methods: {
    login () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'deep-orange-10',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      } else if (this.accept === true) {
        this.$q.notify({
          color: 'primary',
          textColor: 'deep-purple-10',
          icon: 'check',
          message: `Welcome ${this.formLogin.pseudo}`
        })
        this.loginUser(this.formLogin)
      } else {
        this.$q.notify({
          color: 'deep-orange-10',
          textColor: 'white',
          icon: 'warning',
          message: 'Erreur Serveur'
        })
      }
    },
    onReset () {
      this.email = null
      this.pseudo = null
      this.password = null
      this.accept = false
    },
    ...mapActions('auth', ['loginUser'])
  }
}
</script>
