<template>
    <!-- Component Contact Message -->
    <div class="col-sm-12">
      <div class="text-h6">Créé un Compte</div>
      <q-form
        @submit="registerUserForm"
        @reset="onReset"
        class="row"
      >
        <div class="col-12 col-sm-6 q-pa-md">
          <q-input
            standout
            rounded
            v-model="formRegister.pseudo"
            type="text"
            prefix="Name:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="person"/>
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-6 q-pa-md">
          <q-input
            standout
            rounded
            v-model="formRegister.email"
            type="email"
            prefix="Email:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="mail" />
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-6 q-pa-md">
          <q-input
            standout
            rounded
            v-model="formRegister.password"
            type="password"
            prefix="Mot de passe:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="fingerprint"/>
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-6 q-pa-md">
          <q-input
            standout
            rounded
            v-model="formRegister.passwordConf"
            type="password"
            prefix="Confirmer Mot de Passe:"
          >
            <template v-slot:prepend>
              <q-icon class="text-orange-14" name="fingerprint" />
            </template>
          </q-input>
        </div>

        <div class="col-12 col-sm-12 q-pa-md text-center">
          <q-toggle
            v-model="accept"
            label="I accept the license and terms"
          />
          <q-btn
            label="Reset"
            type="reset"
            color="secondary"
            rounded
            glossy
            unelevated
            class="q-ml-sm text-black"
          />
          <q-btn
            color="black"
            text-color="orange-14"
            type="submit"
            rounded
            glossy
            unelevated
            icon="mail"
            label="Envoyer Message"
          />
        </div>
      </q-form>
    </div>
    <!-- Component Contact Message -->
</template>

<script>
// Appelle de index.js du store
import { mapActions } from 'vuex'

export default {
  name: 'register',
  data () {
    return {
      formRegister: {
        pseudo: '',
        email: '',
        password: '',
        passwordConf: ''
      },
      accept: false
    }
  },
  methods: {
    registerUserForm () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'deep-orange-10',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      } else if (this.formRegister.password !== this.formRegister.passwordConf) {
        this.$q.notify({
          color: 'deep-orange-10',
          textColor: 'white',
          icon: 'warning',
          message: 'Erreur Mot de Passe'
        })
      } else {
        // C'est ici que l'on appelle le store pour executer la fonction demander (../../store/store-auth)
        this.registerUser(this.formRegister)
        this.onReset()
        // this.$q.notify({
        //   color: 'primary',
        //   textColor: 'white',
        //   icon: 'cloud_done',
        //   message: 'Submitted'
        // })
        console.log(this.formRegister)
      }
    },
    onReset () {
      this.formRegister.email = null
      this.formRegister.pseudo = null
      this.formRegister.password = null
      this.formRegister.passwordConf = null
      this.accept = false
    },
    ...mapActions('auth', ['registerUser'])
  }
}
</script>
